body{
    margin: 0;
    padding: 0;
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
h2{
    font-family: 'Poppins';
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-weight: bold;
    color: snow;
    text-transform: uppercase;
    margin: 0;
}
#addPlan{
    position: absolute;
    top: 20%;
    left: 29%;
    width: 300px;
    height: 35px;
    font-size: 16pt;
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid gray;
}
#insert{
    position: absolute;
    top: 20%;
    left: 53%;
    width: 100px;
    height: 40px;
    font-size: 14pt;
}
#deleteAll{
    position: absolute;
    top: 20%;
    left: 61%;
    width: 120px;
    height: 40px;
    font-size: 14pt;
}
#stylings{
    position: absolute;
    top: 30%;
    left: 22%;
    width: 740px;
    height: 410px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
#plansDisplay{
    width: 700px;
    height: 380px;
    color: snow;
}
#span1{
    width: 510px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    margin-left: 250px;
    font-weight: bold;
    color: snow;
}
.row{
    font-size: 16pt;
    padding: 10px;
    width: 450px;
    margin: 0;
    display: inline-block;
}
.btn{
    font-size: 16pt;
    padding: 7px;
    width: 100px;
    margin: 0;
}
.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}
.box div:nth-child(1){
    top: 12%;
    left: 20%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 90%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 85%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 77%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 60%;
    left: 87%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 32%;
    left: 15%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 85%;
    left: 12%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

@media only screen and (max-width: 992px){
    #stylings{
        position: absolute;
        top: 30%;
        left: 12%;
        width: 740px;
        height: 410px;
        box-shadow: 0 0 10px rgba(0,0,0,0.6);
    }
}
@media only screen and (max-width: 576px){
    .wrapper{
        width: 100%;
        height: 100%;
    }
    #stylings{
        left: 10%;
        width: 300px;
        padding-top: 20px;
    }
    #span1{
        width: 300px;
        font-size: 18pt;
        margin-left: 50px;
    }
    h2{
        left: 55%;
        font-size: 22pt;
        font-weight: bold;
        width: 300px;
    }
    #addPlan{
        top: 20%;
        left: 12%;
        width: 150px;
        height: 25px;
        font-size: 12pt;
    }
    #insert{
        position: absolute;
        top: 19.8%;
        left: 57%;
        width: 50px;
        height: 30px;
        font-size: 10pt;
    }
    #deleteAll{
        position: absolute;
        top: 19.8%;
        left: 71%;
        width: 80px;
        height: 30px;
        font-size: 10pt;
    }
    .row{
        font-size: 12pt;
        padding: 2px;
        width: 170px;
        margin: 0;
        display: inline-block;
    }
    .btn{
        font-size: 9pt;
        padding: 2px;
        width: 40px;
        margin: 0;
    }
    .box div:nth-child(1){
        top: 12%;
        left: 20%;
        animation: animate 10s linear infinite;
    }
    .box div:nth-child(2){
        top: 70%;
        left: 70%;
        animation: animate 7s linear infinite;
    }
    .box div:nth-child(3){
        top: 17%;
        left: 6%;
        animation: animate 9s linear infinite;
    }
    .box div:nth-child(4){
        top: 20%;
        left: 65%;
        animation: animate 10s linear infinite;
    }
    .box div:nth-child(5){
        top: 77%;
        left: 10%;
        animation: animate 6s linear infinite;
    }
    .box div:nth-child(6){
        top: 60%;
        left: 77%;
        animation: animate 12s linear infinite;
    }
    .box div:nth-child(7){
        top: 60%;
        left: 60%;
        animation: animate 15s linear infinite;
    }
    .box div:nth-child(8){
        top: 32%;
        left: 15%;
        animation: animate 16s linear infinite;
    }
    .box div:nth-child(9){
        top: 85%;
        left: 12%;
        animation: animate 9s linear infinite;
    }
    .box div:nth-child(10){
        top: 20%;
        left: 60%;
        animation: animate 5s linear infinite;
    }
}



